<!DOCTYPE html>
<html lang="{% block html_lang %}{{ DEFAULT_LANG }}{% endblock %}"
      {% if USE_OPEN_GRAPH %}
      xmlns:og="http://ogp.me/ns#"
      xmlns:fb="https://www.facebook.com/2008/fbml"{% endif %}>
<head>
    <title>{% block title %}{{ SITENAME }}{% endblock %}</title>
    <!-- Using the latest rendering mode for IE -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% if 'liquid_tags.notebook' in PLUGINS %}
        {% include 'includes/liquid_tags_nb_header.html' %}
    {% endif %}

    {# Favicons are a touchy subject. For reasoning for the following code, see: http://stackoverflow.com/a/23851464/872397 #}
    {% if FAVICON %}
    <link href="{{ SITEURL }}/{{ FAVICON }}" rel="icon">
    {% endif %}
    {% if FAVICON_IE %}
    <!--[if IE]><link rel="shortcut icon" href="{{ SITEURL }}/{{ FAVICON_IE }}"><![endif]-->
    {% endif %}
    {% if TOUCHICON %}
    <link rel="apple-touch-icon" href="{{ SITEURL }}/{{ TOUCHICON }}">
    {% endif %}

    {% block canonical_rel %}{% endblock %}

    {% block meta %}
        <meta name="author" content="{{ AUTHOR }}" />
        <meta name="description" content="{{ DESCRIPTION }}" />
        <meta name="keywords" content="{{ KEYWORDS|join(',')|striptags }}" />
    {% endblock %}

    {# Open Graph tags #}
    {% if USE_OPEN_GRAPH is not defined %}
        {% set USE_OPEN_GRAPH = True %}
    {% endif %}
    {% if USE_OPEN_GRAPH %}
    {% block opengraph %}
    <!-- Open Graph tags -->
        {% if OPEN_GRAPH_FB_APP_ID %}
            <meta property="fb:app_id" content="{{ OPEN_GRAPH_FB_APP_ID }}"/>
        {% endif %}
        <meta property="og:site_name" content="{{ SITENAME }}" />
        <meta property="og:type" content="website"/>
        <meta property="og:title" content="{{ SITENAME }}"/>
        <meta property="og:url" content="{{ SITEURL }}"/>
        <meta property="og:description" content="{{ SITENAME }}"/>
        {% if OPEN_GRAPH_IMAGE %}
            <meta property="og:image"
                  content="{{ SITEURL }}/{{ OPEN_GRAPH_IMAGE }}"/>
        {% endif %}
    {% endblock %}
    {% endif %}

    {# Twitter Cards tags #}
    {% include 'includes/twitter_cards.html' %}

    <!-- Bootstrap -->
    {% if BOOTSTRAP_THEME %}
        <link rel="stylesheet" href="{{ SITEURL }}/theme/css/bootstrap.{{ BOOTSTRAP_THEME }}.min.rtl.css" type="text/css"/>
    {% else %}
        <link rel="stylesheet" href="{{ SITEURL }}/theme/css/bootstrap.min.css" type="text/css"/>
    {% endif %}
    <link href="{{ SITEURL }}/theme/slick/slick.css" rel="stylesheet">
    <link href="{{ SITEURL }}/theme/slick/slick-theme.css" rel="stylesheet">
    <link href="{{ SITEURL }}/theme/css/font-awesome.min.css" rel="stylesheet">
    <link href="{{ SITEURL }}/theme/css/style.rtl.css" rel="stylesheet" type="text/css"/>
    <link href="{{ SITEURL }}/theme/css/mods.css" rel="stylesheet">
</head>
<body>

<div class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="{{ SITEURL }}/" class="navbar-brand"><img style="max-height: 30px;" src="{{ SITEURL }}/extra/logo.png"></a>
        </div>
        <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav">
                <li class="{% block accomodation_set_active %}{% endblock %}"><a href="{{ SITEURL }}/accomodations.html">
                    אפשרויות אירוח
                </a></li>
                {% for p in pages %}
                    <li{% if p == page %} class="active"{% endif %}><a href="{{ SITEURL }}/{{ p.url }}">
                        {{ p.menulabel|default(p.title) }}
                    </a></li>
                {% endfor %}
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="{{ SITEURL }}/{{ ARCHIVES_URL | default('archives.html') }}"><i class="fa fa-th-list"></i><span class="icon-label">בלוג</span></a></li>
                <li><a href="http://www.galilee-bedouin-camplodge.com/"><img src="{{ SITEURL }}/extra/eng_flag.png" /> <span>English</span></a></li>
            </ul>
        </div>
    </div>
</div>

<div class="container">

    {% block messages %}
    {% endblock %}

    <div class="row">
        <div class="col-lg-9">

            {% block header %}{% endblock%}

            <div class="panel">
                <div class="panel-body">
                    {% block breadcrumbs %}
                    {% endblock %}

                    {% block content %}
                    {% endblock %}
                </div>
            </div>
        </div>

        <div id="sidebar" class="col-lg-3">
            <div class="panel">
                <div class="panel-body text-center">
                    {% block sidebar %}
                        {% include 'includes/reviews_sidebar.html' %}
                    {% endblock %}
                </div>
            </div>
        </div>
    </div>
</div>

{% include 'includes/footer.html' %}

<script src="{{ SITEURL }}/theme/js/jquery.min.js"></script>
<script src="{{ SITEURL }}/theme/slick/slick.min.js"></script>
<script src="{{ SITEURL }}/theme/js/mods.js"></script>

<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="{{ SITEURL }}/theme/js/bootstrap.min.js"></script>

<!-- Enable responsive features in IE8 with Respond.js (https://github.com/scottjehl/Respond) -->
<script src="{{ SITEURL }}/theme/js/respond.min.js"></script>

{# Analytics #}
{% include 'includes/ga.html' %}
{% include 'includes/piwik.html' %}
</body>
</html>
