{% extends "base.html" %}

{% block canonical_rel %}<link rel="canonical" href="{{ SITEURL }}">{% endblock %}

{% block content %}
<!-- Carousel
================================================== -->
<div id="carousel" dir="rtl">
    {% for category, pages in categories %}{% if category == 'Accomodations' %}{% for page in pages|sort(attribute='sortorder') %}
        <a href="{{ page.url }}">
            <div class="image-block text-center">
                <img class="img-thumbnail" src="{{ page.image }}"/>
                <div class="ib-content">
                    <h4 class="ib-content-element">{{ page.title }}</h4>
                    <p class="ib-content-element">{{ page.caption }}</p>
                </div>
            </div>
        </a>
    {% endfor %}{% endif %}{% endfor %}
</div>

<!-- Attractions and partners
=================================================== -->

<header class="page-header">
    <h2>אטרקציות</h2>
</header>

<div class="container">

    <!-- Three columns of text below the carousel -->
    <div class="tiles-large row">
        {% for category, pages in categories %}{% if category == 'Attractions' %}{% for page in pages %}
            <div class="tile thumbnail text-center">
                <img src="{{ page.image }}">
                <a href="{{ page.url }}"><h2>{{ page.title }}</h2></a>
                <p>{{ page.summary }}</p>
            </div>
        {% endfor %}{% endif %}{% endfor %}
        {% for category, pages in categories %}{% if category == 'Partners' %}{% for page in pages %}
            <div class="tile thumbnail text-center">
                <img src="{{ page.image }}">
                <h4>{{ page.title }}</h4>
                {% include "includes/partner_badges.html" %}
                <p>{{ page.summary }}</p>
            </div>
        {% endfor %}{% endif %}{% endfor %}
    </div>

</div>
{% endblock %}
